@media screen and (max-width: 768px) {
	.service {
	padding-bottom: 20%;
	}
}

@media screen and (max-width: 410px) {
	.slide h1 {
	font-size: 38px;
	}
	.slide h4 {
	font-size: 29px;
	}
	.col-xs-6 {
	width: 100%;
	}
	.service {
	padding-bottom: 30px;
	margin: 0 20px;
	}
	.contactspan {
	width: 250px;
	/* text-align: center; */
	}
	.address {
	/* float: left; */
	background: url(../img/map.png) no-repeat scroll 0px 1px;
	/* padding-left: 10px; */
	}
	.phone {
	/* float: left; */
	/* padding-left: 70px; */
	background: url(../img/telephone.png) no-repeat scroll 55px 1px;
	}
}

@media screen and (max-width: 380px) {
	.button {
		font-size: 12px;
	}
}